<div class="container">

</div>
<div class="container" >
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <dx-data-grid id="gridContainer"  #grid
                [dataSource]="repo"
                keyExpr="idreportemes"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [showRowLines]="true"
                [showBorders]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>
                <!--[columnAutoWidth]="true"-->
                <!--<dxi-column dataField="idcliente" [width]="80" caption="Id"></dxi-column>-->
                <dxi-column dataField="modelName" [width]="100" ></dxi-column>
                <dxi-column dataField="ipAddress" [width]="120"></dxi-column>
                <dxi-column dataField="cuentaId" [width]="80"></dxi-column>
                <dxi-column dataField="cuentaNombre" [width]="150"></dxi-column>
                <dxi-column dataField="printTotal" [width]="80"></dxi-column>
                <dxi-column dataField="copyTotal" [width]="80"></dxi-column>
                <dxi-column dataField="scanTotal" [width]="80"></dxi-column>
                <dxi-column dataField="printFullColor" [width]="90"></dxi-column>
                <dxi-column dataField="printBlackWhite" [width]="90"></dxi-column>
                <dxi-column dataField="copyFullColor" [width]="90"></dxi-column>
                <dxi-column dataField="copyBlackWhite" [width]="90"></dxi-column>
                <dxi-column dataField="timeStamp" [width]="100" dataType="date"></dxi-column>
                
            <!--<dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
            </dxo-editing>-->
            </dx-data-grid>
        </div>
    </div>
</div>