<style>
    #encabezado{
        padding-top: 5em;
    }
</style>
<div class="container" id="encabezado" >
    <div class="row justify-content-md">
        <div class="col-md-auto">
            <div class="table-responsive-sm" id="tabla">
                <table class="table table-bordered">
                    <tr>
                        <th scope="col">Clientes</th>
                        <th></th>
                    </tr>
                    <td></td>
                </table>
            </div>
        </div>
    </div>
</div>