
<div class="container" >
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <dx-data-grid id="gridContainer"  #grid
                [dataSource]="todos"
                keyExpr="idcliente"
                [allowColumnReordering]="true"
                [allowColumnResizing]="true"
                [columnAutoWidth]="true"
                [showRowLines]="true"
                [showBorders]="true">
                <dxo-search-panel [visible]="true"></dxo-search-panel>

                <!--<dxi-column dataField="idcliente" [width]="80" caption="Id"></dxi-column>-->
                <dxi-column dataField="name" [width]="130"></dxi-column>
                <dxi-column dataField="ruc" [width]="130"></dxi-column>
                <dxi-column dataField="razonSocial" [width]="130"></dxi-column>
                <dxi-column dataField="fechaConteo" [width]="100" dataType="date"></dxi-column>
                
            <dxo-editing
                mode="popup"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowAdding]="true">
            </dxo-editing>
            </dx-data-grid>
        </div>
    </div>
</div>
            

