<style>
    #titulo{
      font-size: 60px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgb(114, 34, 34);
  }
  
</style>
    
  <div class="container" id="main">
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <span id="titulo">{{ title }}</span>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div >
        <div class="md-form">
          <input step="box-sizing: 25 px" type="text" id="form1" class="form-control" [(ngModel)]="userNam.name" placeholder="Nombre de cliente">
          <dx-button
          stylingMode="contained"
          text="Buscar"
          type="normal"
          [width]="150"
          (onClick)="onSubmint()">
        </dx-button>
        </div>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <dx-button
          stylingMode="text"
          text="Lista de clientes"
          type="normal"
          [width]="150"
          (onClick)="clientes()">
        </dx-button>
        <!--<a (ngSubmit)="clientes()">Lista de clientes</a> -->
      </div>
    </div>
  </div>


 <!--
  <form action="your-action" (submit)="clientes()">
    <dx-form id="form"
        
        [readOnly]="false"
        [showColonAfterLabel]="true"
        [showValidationSummary]="true"
        validationGroup="customerData">
        <dxi-item itemType="group" caption="Log in">
            <dxi-item dataField="Cliente">
                <dxi-validation-rule 
                    type="required"
                    message="Nombre del cliente">
                </dxi-validation-rule>
                <dxi-validation-rule 
                    type="email"
                    message="Cliente no encontrado">
                </dxi-validation-rule>
            </dxi-item>
        </dxi-item>
        <dxi-item 
            itemType="button"
            horizontalAlignment="center"
            >
        </dxi-item>
    </dx-form>
</form>

-->
  <router-outlet></router-outlet>