<style>
    #text{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: large;

    }
</style>

<div class="container" >
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <form id="log" #loginForm="ngForm" (ngSubmit)="signIn(f)">
            <p class="text-center font-weight-bold" id="text">Log in</p>
            <div class="form-group">
                <label for="Usuario">Usuario</label>
                <input type="User" class="form-control" name="name" [(ngModel)]="user.name"  placeholder="User">
                <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
            <div class="form-group">
                <label for="Pass">Contraseña</label>
                <input type="password" id="password"  name="password"
                class="form-control" [(ngModel)]="user.password" placeholder="Contraseña" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        </div>
    </div>
</div>>